<?xml version="1.0" encoding="UTF-8" ?>

<?xml version="1.0" encoding="UTF-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<!--输出日志到文件-->
	<targets>
		<target name="Info" xsi:type="file" fileName="../../Logs/Info/${shortdate}-Info.log" layout="【日志时间】：${longdate} ${newline}【日志信息】${newline}${message}${newline}${newline}${newline}" />
		<target name="Error" xsi:type="file" fileName="../../Logs/Error/${shortdate}-Error.log" layout="【日志时间】：${longdate} ${newline}【日志信息】${newline}${message}${newline}${newline}${newline}" />
		<target name="Debug" xsi:type="file" fileName="../../Logs/Debug/${shortdate}-Debug.log" layout="【日志时间】：${longdate} ${newline}【日志信息】${newline}${message}${newline}${newline}${newline}" />
	</targets>
	<rules>
		<logger name="*" levels="Info" writeTo="Info" />
		<logger name="*" levels="Error" writeTo="Error" />
		<logger name="*" levels="Debug" writeTo="Debug" />
	</rules>
</nlog>